header{
    display: flex;
    align-items: center;
    height: 10vh;
    border: 1px solid black;
    padding: 14px 11px;
}

.darkModeIcons > button > img{
    width: 50px;
}

.header--navbar{
    margin-left: auto;
}
.header--navbar_items{
    display: flex;
    list-style-type: none;
}

.header--navbar_items > li {
    padding: 12px 9px;
}