body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6{
  margin:0;
}



/*Start of the Header section styling*/

.header{
  height: 15vh;
  background-color: rgb(153, 153, 175);
}

.header--navbar{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.header--navbar_intro{
    margin-right: auto;
    border: 1px solid white;
    display: flex;
    align-items: center;
    height: fit-content;
    align-self: center;
    /* align-items: center; */
    /* padding: 0px; */
}
.header--navbar_intro > button > img{
  width: 50px;
  background-color: transparent;
}
.header--navbar_items{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header--navbar_items > li {
  padding: 25px 32px;
  border: 1px solid white;
  text-decoration: none;
}
.header--navbar_items > li > a{
  text-decoration: none;
  color: white;
}


/* Start of the Hero Section Styling */
.heroSection{
  /* background-color: blueviolet; */
  /* color: white; */
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.heroSection--img > img{
  width: 400px;
}

.projects{
  /* background-color: gold; */
  height: 100vh;
  /* color: white; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 90%;
  margin: 0 auto;
  justify-items: center;
}

.projects--title{
  grid-area: 1 / 1 / 2 / 3; 
  background-color: bisque;
  width: 100%;
}

.projects--one{
  background-color: blue;
  width: 100%;

}

.projects--one_img{
  width: 300px;
}

.projects--two{
  background-color: rgb(145, 145, 167);
  width: 100%;
}

.projects--two_img{
  width: 300px;
}

.projects--three{
  background-color: rgb(179, 94, 153);
  width: 100%;
}

.projects--three_img{
  width: 300px;
}

.projects--four{
  background-color: rgb(129, 201, 147);
  width: 100%;
}

.projects--four_img{
  width: 300px;
}

.skills{
  /* background-color: green; */
  border: 1px solid black;
  height: 100vh;
  color: white;
}

.aboutMe{
  background-color: darkmagenta;
  height: 100vh;
  color: white;
}



.footer{
  background-color: gray;
  height: 50vh;
  color: white;
}

.darkMode{
  background-color: rgb(39, 39, 59);
  color: rgb(237, 241, 226);
}