:root{
  --background-color: #f0f4f8;
  --primary-color: #2F4858;
  --primary-color-dark: #1f3848;
  --secondary-color: #98C3C1;
}


body, html{
  font-family: "Nunito", sans-serif;
}

.btn-primary{
  background-color: var(--primary-color);
  color: white;
}

.text-primary-color{
  color: var(--primary-color);
}

.bg-grid-pattern {
  background-image: radial-gradient(circle, #000 1px, transparent 1px);
  background-size: 30px 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
